@import 'utilities/variables';
@import 'utilities/mixins';
@import 'blocks/course-catalog/course-catalog';
@import 'blocks/course-card/course-card';
@import 'blocks/filter-bar/filter-bar';
@import 'blocks/search/search';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  font-weight: inherit;
}

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

